doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Food Cart
        link(rel="shortcut icon", href="/images/fav.jpg", type="image/x-icon")
        link(rel="stylesheet" href="/css/style.css") 
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css')

    body
        include _header
        main.cart-page
            h1.cart-title Your Food Cart
            ul.cart-items

            .cart-total 
            a.checkout-btn(href="javascript:void(0)" onclick="openModal()") Proceed to Checkout

        footer.footer 
            Copyright © 2023 Hashtag Developer. All Rights Reserved.

        //- Modal for Checkout
        .modal#checkout-modal
            .modal-content
                span.modal-close(onclick="closeModal()") ×
                h2 Checkout Details
                form.checkout-form(onSubmit="submitCheckout(event)")
                    label(for="name") Name:
                    input(type="text" id="name" name="name" required)

                    label(for="address") Address:
                    input(type="text" id="address" name="address" required)

                    label(for="phone") Phone Number:
                    input(type="tel" id="phone" name="phone" required)

                    button(type="submit" onclick="proceedToCheckout()") Submit

        script(src='https://js.stripe.com/v3/')
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        script(src='https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js')

        script(src="/js/script.js")     
        script(src="/js/displayCart.js")
