doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="shortcut icon", href="/images/fav.jpg", type="image/x-icon")
        link(rel="stylesheet", href="/css/style.css")
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css')

    body
        include _header
        main.main-error
            .error
                .error__title
                h2.heading-secondary.heading-secondary--error Uh oh! Something went wrong!   
                h2.error__emoji 😢 🤯
                .error__msg= msg 
        script(src='https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js')
        script(src="/js/script.js")    