section.review-container
                    h1  What Our Customers Say
                    .review-card-container
                        .review-card
                            h2 &quot;The best restaurant&quot;
                            p.size
                            | Last night, we dined at place and were simply blown away. From the moment we stepped in, we were enveloped in an inviting atmosphere and greeted with warm smiles.
                            .author
                                img(src='/images/review1.jpeg' alt='Sophire Robson')
                                p
                                    | Sophire Robson
                                    br
                                    | Los Angeles, CA
                        .review-card
                            h2 &quot;Simply delicious&quot;
                            p.size
                            | Place exceeded my expectations on all fronts. The ambiance was cozy and relaxed, making it a perfect venue for our anniversary dinner. Each dish was prepared and beautifully presented.
                            .author
                                img(src='/images/review2.jpeg' alt='Matt Cannon')
                                p
                                    | Matt Cannon
                                    br
                                    | San Diego, CA
                        .review-card
                            h2 &quot;One of a kind restaurant&quot;
                            p.size
                            | The culinary experience at place is first to none. The atmosphere is vibrant, the food - nothing short of extraordinary. The food was the highlight of our evening. Highly recommended.
                            .author
                                img(src='/images/review3.jpeg' alt='Andy Smith')
                                p
                                    | Andy Smith
                                    br
                                    | San Francisco, CA 
