doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title User Profile
    link(rel="stylesheet", href="/css/style.css")
  body
    include _header
    .profile-container
      .profile-header
        h1 User Profile
      .profile-content
      if user
        p
          strong Name:
          span=user.name.split(' ')[0] 
        p
          strong Email  Address:
          span=user.email
    script(src="/js/script.js")       
